@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding :0;
}

.firstpage {
  background-color: mintcream;
  padding-top: 20px;
  padding-bottom:250px;
}

.navbar {
  border: 20px powderblue solid; 
}

.navbar ul {
  list-style-type: none;
  float: right;
  margin:auto;  
}

.navbar ul li {
    display: inline-block;  
}

.navbar ul li a{
    text-decoration: none;
    padding: 5px 15px;
    color:lightseagreen;
    font-weight: bold;
}

.navbar ul li.services a:link{
  background-color: darkcyan;
}

.logo img{
    float: left;
    width: 5%;
    height: auto;
    background-color: lightseagreen;
}

.firstpageItems {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


@media only screen and (min-width: 900px){
  .posterMain img{   
    height: 120%;
    width: 100%;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 900px){
  .posterMain img{   
    height: 100%;
    width: 100%;  
  }
}

.mainContent {
  padding-top: 5%;
  width:50%;  
}

.mainContent h2{
  font-size: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  text-align: center; 
}

.mainContent p{
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  margin-left: 20px; 
  line-height: 20px;
}

/* .mainContent button{
  border-radius: 10px;
  color: #fff;
  background-color: lightseagreen;
  padding: 2px 30px;
  letter-spacing: 2px;
  font-size: 15px ;
  font-weight:bold;
  margin-left: 40%;
} */

.secondpage{
  background-color: lightseagreen;
  padding-top: 80px;
  padding-bottom: 160px;
}

.secondpageTop {
  width: 60%;
  margin-left: auto;
  margin-right: auto; 
}

.secondpageTop h1{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  text-align:center;
  letter-spacing: 2px;
  font-weight: bold;
}

.secondpageTop p{
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 150%;
}

.secondpageItems{
  display: flex;
  justify-content:space-evenly;
}

.secondpageItems>div{
  color:#fff;
}

.secondpageItems img{
  height: 100%;
  width: 100%; 
}

.secondpageItems h1{
  font-size: 20px;
  text-align: center;
}

.secondpageItems p{
  letter-spacing: 150%;
  text-align: center;
}

.thirdpage{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: mintcream;
  padding-top: 40px;
  padding-bottom: 500px;
}

.thirdpage h1{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  text-align:center;
}

.thirdpage p{
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  text-align: center;  
  line-height: 150%;
}

.fourthpage{
  background-color: lightseagreen;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 100px;
}

.fourthpageTop{
  width: 40%;
  margin-left: auto;
  margin-right: auto;  
}

.fourthpageTop h1{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  text-align:center;
}

.fourthpageTop p{
  font-weight:bold;
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  text-align: center;
}

.fourthpageItems{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.fourthpageItems>div{
  background-color: mintcream;
  color:lightseagreen;  
  padding: 10px 20px;
  width:300px;    
}

.fourthpageItems h3,p{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.fourthpageItems img{
  height:100px;
  width:50%;
  margin-left: 25%;  
}

.fourthpageItems button{
  background-color: lightseagreen;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding: 10px 50px;
  border-radius: 5px; 
}

.fifthpage{
  background-color: mintcream;
  padding-top: 60px;
  padding-bottom: 150px;
}

.fifthpage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height:15%;
}

.fifthpage p{
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  text-align: center;
  line-height: 120%;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 150% ;
}

.fifthpage h1{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:lightseagreen;
  text-align:center;
  font-weight: bold;
}

.sixthpage{
  margin-left: auto;
  margin-right: auto;
  background-color: lightseagreen;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}

.sixthpage h1{
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
  color:mintcream;
  text-align:center;
}

.sixthpage p{
  font-family:Arial, sans-serif;
  color:mintcream;
  text-align: center;
  line-height: 120%;
  letter-spacing: 2px ;
}

.sixthpage div{
  display:flex ;    
  justify-content: center;
}

.sixthpage input{
  width: 25%;
  border-radius: 20px;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  color: lightseagreen;
}

.sixthpage button{
  width: 10%;
  border-radius: 20px;
  padding: 1%;
  font-weight: bold;
  font-size: 12px;
  color: lightseagreen;
}

.seventhpage {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  color: lightseagreen;
  background-color: mintcream;
  padding-top: 80px;
  padding-bottom: 50px;
}

.seventhpage p{  
  line-height: 120%;
  letter-spacing: 2px ;
  text-align: start;
}

.seventhpage a{
  display:block;
  text-decoration: none; 
  color: lightseagreen;
  line-height: 175%;
}




